astroid==4.0.4
coverage==7.13.5
dill==0.4.1
fonttools==4.62.1
iniconfig==2.3.0
isort==8.0.1
kiwisolver==1.5.0
mccabe==0.7.0
numpy==2.4.4
packaging==26.0
pillow==12.2.0
platformdirs==4.9.6
pylint==4.0.5
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
pytest==9.0.3
pytest-cov==7.1.0
tomlkit==0.14.0
